data/__pycache__
models/__pycache__
utils/__pycache__
configs/__pycache__

data/Brennan2018/audio/
data/Brennan2018/proc/
data/Brennan2018/raw/
data/Brennan2018/Y_embeds/*.pt
data/Brennan2018/processed_X.pt
data/Brennan2018/merged_audio.wav
data/Brennan2018/_processed_X.pt

data/Broderick2018/

data/Gwilliams2022
!data/Gwilliams2022/.keep

runs/*
!runs/.keep

tmp/

weights/*.pt
*.pt
tests.ipynb
.ipynb_checkpoints
sandbox.ipynb
wandb
.vscode/launch.json
__pycache__
train.sh
README_MY.md
debug.py
*_debug*