# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Data
data/Brennan2018/audio/
data/Brennan2018/proc/
data/Brennan2018/raw/
data/Brennan2018/Y_embeds/*.pt
data/Brennan2018/processed_X.pt
data/Brennan2018/merged_audio.wav
data/Brennan2018/merged.wav
data/Brennan2018/_processed_X.pt
data/Broderick2018/
data/Gwilliams2022/
!data/Gwilliams2022/.gitkeep

# Runs
runs/*
!runs/.gitkeep

tmp/

weights/*.pt
*.pt
tests.ipynb
sandbox.ipynb
wandb
train.sh
README_MY.md
debug.py
*_debug*
