# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Jupyter
.ipynb_checkpoints
tests.ipynb
sandbox.ipynb
cosine_similarity.ipynb
gwilliams2022.ipynb

# VS Code
.vscode/
outputs/

# Data
data/Brennan2018/audio/
data/Brennan2018/proc/
data/Brennan2018/raw/
data/Brennan2018/audio_embeds/*.pt
data/Brennan2018/processed_X.pt
data/Brennan2018/merged_audio.wav
data/Brennan2018/merged.wav
data/Brennan2018/_processed_X.pt
data/Broderick2018/
data/Gwilliams2022/
!data/Gwilliams2022/.gitkeep
data/gwilliams2022_proto.py

# Run outputs and temp files
outputs/
tmp/
runs/
wandb/

# Micellaneous
*.pt
train.sh
*_debug*
nohup.out